@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;700&family=Baloo+Bhaijaan+2:wght@500&family=Noto+Sans+Tai+Viet&family=Noto+Sans:wght@700;800&family=Pixelify+Sans&family=Roboto:ital@0;1&family=Ubuntu&display=swap');

html,
body {
  
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container{
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{

  position: absolute;
  background-color: rgb(132, 129, 126);
 }
.button {
  padding: 22px;
}

button {
  width: 29px;
  margin: 4px;
  border: 2px solid black;
  border-radius: 19px;
  cursor: pointer;
}

.row input {
  width: 227px;
  font-size: 21px;
  border-radius: 11px;
  border: 2px solid #1b1919;
  padding: 18px 0px;
  font-family: 'Roboto', sans-serif;
}