 
  

.text-center {
  text-align: center;
}
.flex{
  display: flex;

}
.flex-col{
  /* display: flex; */
flex-direction: column;
 }

.m-auto {
  margin: auto;
}
.item-center{
  align-items: center;
}

 